body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    background-image: url("images/grey.jpg");
    background-color: #cccccc;
    background-size: cover;
}

main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#startPage > select {
    width: 100%
}

#startButtons {
    display: flex;
    
}

#startButtons > a {
    width: 49%;
}

#hostGameButton {
    float: left;
    margin-right: 1%;
}

#joinGameButton {
    margin-left: 1%;
}

.boxDiv {
    background: white;
    padding: 1%;
    border-style: solid;
}

.hostPage > h2 {
    text-align: center;
}

.form-group {
    padding-bottom: 5px;
}

.hostCancelButton {
    float: left
}

.hostStartButton {
    float: right;
}

.hostButtons {
    margin-top: 15%;
}

.tablePage {
    display: inline;
}

.tablePage > div {
    margin: auto;
    width: 50%;
}

#farkleRuleList {
    overflow-y: scroll;
    height: 67%;
}


.rulelist {
    text-align: center;
}

.rulelist > table {
    width: 100%;
}

tr > .checkbox {
    text-align: center;
}

.addRuleDiv {
    text-align: center;
}

.leftButton {
    float: left;
    margin-left: 25%;
}

.rightButton {
    float: right;
    margin-right: 25%;
}

.roomlist {
    height: 90%;
    overflow-y: scroll;
}

.joinPopup {
    flex: 1 calc(100vh - 110px);
    display: flexbox;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    position: absolute;
    top: 25%;
    left: 25%;
    visibility: hidden;
}

.passwordJoinButtons > .joinButton {
    float: right;
}

.passwordJoinButtons > .cancelJoinButton {
    float: left;
}