body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    background-image: url("images/grey.jpg");
    background-color: #cccccc;
    background-size: cover;
}

main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#startPage > select {
    width: 100%
}

#startButtons {
    display: flex;
    
}

#startButtons > a {
    width: 49%;
}

#hostGameButton {
    float: left;
    margin-right: 1%;
}

#joinGameButton {
    margin-left: 1%;
}

.hostPage {
    background: white;
    padding: 1%;
    border-style: solid;
}

.hostPage > h2 {
    text-align: center;
}

.form-group {
    padding-bottom: 5px;
}

.hostCancelButton {
    float: left
}

.hostStartButton {
    float: right;
}

.hostButtons {
    margin-top: 15%;
}
